<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="maker">
  
  <update id="memtype">
  	update member set mem_type=1 where mem_idx=#{mem_idx}
  </update>
  
  <select id="idx" resultType="int">
  	select count(*) from maker where mem_idx=#{mem_idx}
  </select>
  
  <select id="makeridx" resultType="int">
  	select mak.maker_idx 
  	from maker as mak, 
  	(select pro_id, mem_idx, maker_idx from project where pro_id=#{pro_id}) as pro
  	where mak.maker_idx = pro.maker_idx
  	<!-- select maker_idx from maker where mem_idx=#{mem_idx} -->
  </select>
  
  <select id="makerinfo" resultType="com.crowd.funding.maker.model.MakerDTO">
  	<!-- select * from maker where mem_idx=#{mem_idx} -->
  	select * 
  	from maker as mak, 
  	(select pro_id, mem_idx, maker_idx from project where pro_id=#{pro_id}) as pro
  	where mak.maker_idx = pro.maker_idx
  </select>
  
 
  <update id="infoup">
  	update maker
  	set maker_name=#{maker_name}, maker_phone=#{maker_phone}, maker_intro=#{maker_intro},
  			maker_photo=#{maker_photo}
  	where maker_idx=#{maker_idx}
  </update>
  
  
  <!-- maker 정보 삭제 -->
  <delete id="delete">
  	delete from maker
  	where maker_idx=#{maker_idx}
  </delete>
  
   <!-- & mem_type을 일반회원으로 변경 -->
  <update id="delmemtype">
  	update member set mem_type=0 where mem_idx=#{mem_idx}
  </update>

  
  </mapper>